@{
    ViewBag.Title = "Contact";
}
<h3>@ViewBag.Message</h3>

<address>
    KEI - Kids Events Incorporated<br />
    Markt 26, Sittard<br />
    <abbr title="Phone">P:</abbr>
    06-45781245
</address>

<address>
    <strong>Info:</strong>   <a href="mailto:info@ke-i.com">info@ke-i.com</a><br />
    
</address>