@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welkom!</h1>
    <p class="lead">Welkom op de pagina van KEI. Wij zijn KEI goed in het organiseren van evenementen voor kinderen.</p>
    <p><a href="https://ke-i.com" class="btn btn-primary btn-lg">Schrijf nu in &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Welkom</h2>
        <p>
            Hier volgt meer info over KEI.
        </p>
    </div>
</div>